html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar Section */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dbf0ff;
    color: #000;
    min-width: 100%;
    min-height: 10vh;
    z-index: 1000;
    position: relative;
}

/* Logo Section */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 40px;
    margin-inline-start: 15px;
    padding: 10px 15px;
}

.logo img {
    width: 100%;
    object-fit: contain;
}

.navi_button ul {
    display: flex;
    list-style: none;
    margin-inline-end: 15px;
    gap: 20px;
}

.navi_button li {
    cursor: pointer;
    padding: 10px 15px;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.navi_button .login {
    background-color: #91cef9;
    border-radius: 5px;
}

.navi_button li:hover {
    background-color: rgb(145, 206, 249, 0.6);
    border-radius: 5px;
}

/* Header */
.header {
    background-color: #dbf0ff;
    color: #000;
    text-align: center;
    padding: 50px 20px;
    min-width: 100%;
}

.header h1 {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 2px;
}

/* Form Search */
.search_form {
    display: flex;
    flex-direction: column;
    text-align: left;
    min-width: 20%;
    gap: 10px;
}

.cover_form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_form label {
    font-size: 14px;
    color: black;
}

.search_form .input_button {
    display: flex;
    gap: 5px;
}

.search_form input {
    all: unset;
    width: 50vh;
    height: 30px;
    background-color: white;
    border: black solid 1px;
    border-radius: 5px;
    padding: 0 10px;
}

.search_form button {
    height: 32px;
    padding: 0 15px;
    background-color: #c6e7ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: black;
    transition: all 0.3s ease;
}

.search_form button:hover {
    background-color: #91cef9;
}



